main{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin: auto;
    height: 100vh;
}

section{
    padding: 10px;
}

input,button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container{
    
}